* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    margin: 0;
    background-color: #22252c;

}


body.rtl {
    direction: rtl;
}

canvas:not(.main-canvas) {
    width: 200px;
    height: 173px;
}