.main-gallery {
    display: grid;
    margin: 0;


}

.main-container {
    grid-column: 2;

}

.img-container {
    gap: 10px;
    display: grid;
    place-self: center;
}

img {
    width: 200px;
    height: 173px;
    border-radius: 10px;
    cursor: pointer
}

img:hover {
    opacity: 0.6;
}

.search-container {
    position: sticky;
    display: block;
    grid-row: 2;
    margin-bottom: 20px;
}

.search {
    width: 605px;
    height: 58px;
    border-radius: 29px;
    background-color: #383b42;
    border: none;
}

.file-input {
    width: 100%;
    border: black 1px solid;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-container {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 200px;
    cursor: pointer;
}

.saved-memes {
    display: none;
    grid-column: 2;
    gap: 10px;
    place-self: center;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}
