.nav-container {
    background-image: linear-gradient(-86deg,#1dacbe 0,#6d47c5 100%);
    width: 100%;
    height:73px;
    display: flex;
    align-items: center;
    border-radius: 2em;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-family: poppins-bold, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-container .gallery {
    margin-inline-end: 20px;
    cursor:pointer;
    color: white;
    background: 0 0 ;
    border: none;
    font-size: 1em;
}

.saved, .flexible {
    border: none;
    background: 0 0;
    font-size: 1em;
    cursor: pointer;
    color: white;
}